body{
    background-color: rgb(177, 177, 177);
    // width: 100%;
}

h5{
    font-family: 'Playfair Display', 'sans-serif';
}

.starIcons{
    font-size: 1.6rem;
}

#thanks{
    font-size: 2rem;
    font-style: italic;
}

#billingForm{
    background-color: rgb(219, 219, 219);
}