<h1 class="tagline blue-text text-darken-4 center">
  <i class="starIcons material-icons">star</i>
  Meet Gus
  <i class="starIcons material-icons">star</i>
</h1>
<div class="row center">
  <div class="col s12 l10 offset-l1">
    <div class="card">
      <div class="card-image">
        <img
          src="/img/sidebyside.jpg"
          alt="Two images of Gus side by side. Left side Gus is wearing a suit. On right side Gus is wearing U.S. Marine Uniform."
        />
      </div>
      <div class="card-content">
        <span class="card-title">Alderman Garsheo "Gus" Black</span>
        <p class="about-para left-align">
          Gus Black is a proud husband, father and businessman. He is a
          decorated 30 year Marine and combat veteran who has served in Desert
          Storm, Desert Shield, Afghanistan, and two combat tours of duty in
          Iraq. He is married to Oretha Black, who retired from the Marine Corps
          after 22 years of honorable service. In October 2005, Gus and his
          family moved to Richland, Mississippi.
        </p>
        <p class="about-para left-align">
          Alderman Black has three children, Tiffany, Ashly, and Garsheo Jr.
          <br />
          Gus' children Ashly, and Garsheo Jr. are 2007 and 2008 graduates of
          Richland High School and served honorably in the Marine Corps for 5
          years. Gus currently has four grandchildren, Kendall, Garsheo III,
          Marissa, and Leon.
        </p>
        <p class="about-para left-align">
          Gus is an active member of FBC Richland. He is employed with the U.S.
          Army Corps of Engineers Research and Development Center where he is
          the Division Chief of the Reach back Operations Center. Gus has an
          Associate of Arts Degree in General Studies and a Bachelor of Science
          Degree in Criminal Justice. Gus Black knows what it takes to find
          solutions and navigate complicated government agencies in order to get
          things done for the community.
        </p>
      </div>
    </div>
  </div>
</div>
