<h2 class="tagline blue-text text-darken-4 center">
  <i class="starIcons material-icons">star</i>
  Donate
  <i class="starIcons material-icons">star</i>
</h2>
<div class="row center">
  <!-- Donation statement -->
  <section class="col s12 l8 push-l2">
    <article>
      <h5 class="blue-text text-darken-4 center">Support Gus Black</h5>
      <div>
        <p class="statementP1 left-align">
          Every dollar helps support the campaign effort. Gus Black is committed
          to bringing leadership and experience to the city of Richland.
        </p>
      </div>
    </article>
  </section>
</div>
<div class="row">
  <!-- donation form  -->
  <section class="col s12 l8 push-l2">
    <form id="card" method="POST" action="/donate">
      <!-- <h5 class="indigo-text darken-4 center">Get Started Now</h5> -->
      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input type="text" id="d_name" name="first" required />
        <label type="text" for="d_name">First Name:</label>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input type="text" id="L_name" name="last" required />
        <label type="text" for="L_name">Last Name:</label>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">email</i>
        <input type="email" id="d_email" name="_replyto" required />
        <label type="email" for="d_email">Email</label>
        <!-- <p class="center">Receipt will be sent to the email provided.</p> -->
      </div>
      <div class="input-field">
        <i class="material-icons prefix">monetization_on</i>
        <input type="number" id="amount" name="amount" min="5" max="250" />
        <label type="text" for="amount">Amount</label>
      </div>
      <div class="input-field center amt-container">
        <button
          type="button"
          id="fifteen"
          class="waves-effect waves-light blue darken-4 white-text btn amt-btn"
          name="fifteen"
          value="15"
        >
          $15
        </button>
        <button
          type="button"
          id="twentyfive"
          class="waves-effect waves-light blue darken-4 white-text btn amt-btn"
          name="twentyfive"
          value="25"
        >
          $25
        </button>
        <button
          type="button"
          id="fifty"
          class="waves-effect waves-light blue darken-4 white-text btn amt-btn"
          name="fifty"
          value="50"
        >
          $50
        </button>
        <button
          type="button"
          id="onehundred"
          class="waves-effect waves-light blue darken-4 white-text btn amt-btn"
          name="onehundred"
          value="100"
        >
          $100
        </button>
      </div>
      <div class="input-field center">
        <button id="submit" class="btn blue darken-4">Donate</button>
      </div>
    </form>
  </section>
</div>
