<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- ios support -->
<link rel="apple-touch-icon" href="/img/icons/icon96x96.png" />
<meta name="apple-mobile-web-app-status-bar" content="#ffffff" />
<meta name="theme-color" content="#0d47a1" />
<!--Import Google Icon Font-->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<!-- google fonts -->
<link
  href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap"
  rel="stylesheet"
/>
<!-- Compiled and minified CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
<link rel="stylesheet" href="/css/main.css" />
<link rel="manifest" href="../manifest.json" />
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<title>Alderman Black | Home</title>
