<h2 class="tagline blue-text text-darken-4 center">
  <i class="starIcons material-icons">star</i>
  Highlights
  <i class="starIcons material-icons">star</i>
</h2>
<br />

<article class="row">
  <div class="col s12 l4">
    <img
      class="responsive-img materialboxed"
      src="/img/gus.png"
      alt="Gus Black"
    />
  </div>
  <div class="col s12 l6 offset-l1">
    <h3 class="blue-text text-darken-4">Marine Veterans</h3>
    <p>
      Gus served honorably for 30 years in the United States Marine Corps. His
      Wife, Oretha, served 22 years. Gus' children Ashly and Garsheo Jr. served
      5 years respectively.
    </p>
  </div>
</article>

<article class="row">
  <div class="col s12 l4 push-l7 offset-l1">
    <img
      class="responsive-img materialboxed"
      src="/img/gusandrandall_small.webp"
      alt="Richland Exchange Club members Gus and Randall"
    />
  </div>
  <div class="col s12 l6 pull-l5 left-align offset-l1">
    <h3 class="blue-text text-darken-4">Richland Exchange Club</h3>
    <p>
      Gus is a member of the Richland Exchange Club and past president of
      Mississippi District and Richland Exchange Club.
    </p>
  </div>
</article>

<article class="row">
  <div class="col s12 l4">
    <img
      class="responsive-img materialboxed"
      src="/img/gusandtankresize.webp"
      alt="Gus by USMC tank"
    />
  </div>
  <div class="col s12 l6 offset-l1">
    <h3 class="blue-text text-darken-4">U.S. Army Corp Engineers</h3>
    <p>
      Gus currently works at the U.S. Army Corps Research and Development
      Center.
    </p>
  </div>
</article>

<!-- slider -->
<article class="row">
  <div class="slider">
    <ul class="slides">
      <li>
        <img
          src="/img/GusAtRetirementCeremony.webp"
          alt="Gus at retirement ceremony"
        />
      </li>
      <li>
        <img
          src="/img/GusAtSouthernUniversityTop.webp"
          alt="Gus at Southern University"
        />
      </li>
      <li>
        <img src="/img/girlswhocode.jpg" alt="Gus with girls who code" />
      </li>
      <li>
        <img src="/img/GusAtScienceFair.webp" alt="Gus at science fair" />
      </li>
      <li>
        <img
          src="/img/GusWithMilitaryVechile.webp"
          alt="Gus next to military vechile"
        />
      </li>
      <li>
        <img src="/img/GusByTank.webp" alt="Gus by USMC tank" />
      </li>
      <li>
        <img
          src="/img/royretirementceremonyresized.webp"
          alt="Gus and Oretha attending Roy retirement ceremony"
        />
      </li>
    </ul>
  </div>
</article>
