<div class="container">
  <a href="#top" id="app-title-bar" class="brand-logo indigo-text darken-4">
    Alderman Gus Black
  </a>
  <!-- <img class="logo-img hide-on-med-and-down" src="/img/icon72x72.png" alt="logo"> -->
  <a href="#" class="sidenav-trigger" data-target="mobile-links">
    <i class="indigo-text darken-4 large material-icons">menu</i>
  </a>
  <ul class="right hide-on-med-and-down">
    <li>
      <a class="navlink indigo-text darken-4" href="#about">About</a>
    </li>
    <li>
      <a class="navlink indigo-text darken-4" href="#about-highlights"
        >Highlights</a
      >
    </li>
    <li><a class="navlink indigo-text darken-4" href="#news">News</a></li>
    <li>
      <a class="navlink indigo-text darken-4" href="#platform">Platform</a>
    </li>
    <li id="navDonateButton">
      <a class="navlink blue darken-4 white-text" href="#donations">Donate</a>
    </li>
  </ul>
</div>
