<h2 class="tagline blue-text text-darken-4 center">
  <i class="starIcons material-icons">star</i>
  Latest News
  <i class="starIcons material-icons">star</i>
</h2>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1">
      <img
        class="responsive-img materialboxed"
        src="/img/seniorcenter.webp"
        alt="Gus next to Christmas tree in Chadwick Nursing home"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="blue-text text-darken-4">
        Thanksgiving at Chadwick Nursing Home
      </h3>
      <p>
        Gus and Brothers of Beta Alpha took time to spread some holiday cheer at
        Chadwick Nursing Home this Thanksgiving. Gus Black assisted with
        decorating the home's Christmas trees and serving Thanksgiving dinner to
        the residents.
      </p>
    </div>
  </div>
</article>
<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1">
      <img
        class="responsive-img materialboxed"
        src="/img/waterdrive.webp"
        alt="richland exchangeClub"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="blue-text text-darken-4">Water Drive in Rolling Forks</h3>
      <p>
        Gus and members of the Army Corps of Engineers complete a water drive to
        help the Rolling Fork's community after a tornado touched down in March,
        2023.
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <!-- facebook plugin -->
  <!-- <div id="fb-root"></div>
  <div
    class="fb-page"
    data-href="https://www.facebook.com/aldermangusblack"
    data-tabs="timeline"
    data-width="500"
    data-height="500"
    data-small-header="true"
    data-adapt-container-width="true"
    data-hide-cover="true"
    data-show-facepile="true"
  >
    <blockquote
      cite="https://www.facebook.com/aldermangusblack"
      class="fb-xfbml-parse-ignore"
    >
      <a href="https://www.facebook.com/aldermangusblack">Alderman Gus Black</a>
    </blockquote>
  </div> -->
</article>
