<h2 class="tagline blue-text text-darken-4 center">
  <i class="starIcons material-icons">star</i>
  Latest News
  <i class="starIcons material-icons">star</i>
</h2>
<br />

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/gusForMayor.webp"
        alt="Gus and Oretha campaigning for Mayor"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Gus Black For Mayor of Richland
      </h3>
      <span>1/3/2024</span>
      <p>
        This is the first sign of the Mayoral campaign. Gus is already working
        hard to win this election February 13th. Ooh-rah!
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/toydrive.webp"
        alt="Gus next to Christmas toys"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">Christmas Toy Drive</h3>
      <span>12/20/2023</span>
      <p>
        Gus Black had a great time collaborating with Canopy Solutions, a
        children's behavioral and mental health provider, to spread some holiday
        cheer by collecting and delivering toys for Santa.
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/kyle-carpenter-and-gus-black.webp"
        alt="Gus meeting with medal of honor receipent William Kyle Carpenter"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Carpenter Supercomputer Ribbon Cutting Ceremony
      </h3>
      <span>12/12/2023</span>
      <p>
        Gus Black welcomes Medal of Honor receipient William "Kyle" Carpenter to
        the Engineering Research Development Center (ERDC), where one of the
        most powerful supercomputers was named after him and officially put into
        service.
      </p>
      <p>
        Corporal Carpenter was born on October 17, 1989 in Flowood, Mississippi
        and enlisted in the Marine Corps in March 2009. He made the decision "to
        do something bigger than myself."
      </p>
      <p>
        Carpenter and a fellow Marine were manning a rooftop security position
        in Helmand Province, Afghanistan, when the enemy attacked with hand
        grenades. One of the grenades landed inside their sandbagged postition.
        William Carpenter without hesitation moved to shield his fellow Marine
        from the blast, which saved his teammate's life.
      </p>
      <p>
        On June 19, 2014, Corporal Carpenter was presented the Medal of Honor by
        President Barack Obama for his courageous actions. He is the youngest
        living Medal of Honor receipient.
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/seniorcenter.webp"
        alt="Gus next to Christmas tree in Chadwick Nursing home"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Thanksgiving at Chadwick Nursing Home
      </h3>
      <span>11/23/2023</span>
      <p>
        Gus and Brothers of Beta Alpha took time to spread some holiday cheer at
        Chadwick Nursing Home this Thanksgiving. Gus Black assisted with
        decorating the home's Christmas trees and serving Thanksgiving dinner to
        the residents.
      </p>
    </div>
  </div>
</article>
<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/waterdrive.webp"
        alt="richland exchangeClub"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Water Drive in Rolling Forks
      </h3>
      <span>03/2023</span>
      <p>
        Gus and members of the Army Corps of Engineers complete a water drive to
        help the Rolling Fork's community after a tornado touched down in March,
        2023.
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <!-- facebook plugin -->
  <!-- <div id="fb-root"></div>
  <div
    class="fb-page"
    data-href="https://www.facebook.com/aldermangusblack"
    data-tabs="timeline"
    data-width="500"
    data-height="500"
    data-small-header="true"
    data-adapt-container-width="true"
    data-hide-cover="true"
    data-show-facepile="true"
  >
    <blockquote
      cite="https://www.facebook.com/aldermangusblack"
      class="fb-xfbml-parse-ignore"
    >
      <a href="https://www.facebook.com/aldermangusblack">Alderman Gus Black</a>
    </blockquote>
  </div> -->
</article>
