<h2 class="tagline blue-text text-darken-4 center">
  <i class="starIcons material-icons">star</i>
  Latest News
  <i class="starIcons material-icons">star</i>
</h2>
<article class="row center">
  <!-- add facebook plugin -->
  <div id="fb-root"></div>
  <div
    class="fb-page"
    data-href="https://www.facebook.com/aldermangusblack"
    data-tabs="timeline"
    data-width="500"
    data-height="650"
    data-small-header="false"
    data-adapt-container-width="false"
    data-hide-cover="false"
    data-show-facepile="true"
  >
    <blockquote
      cite="https://www.facebook.com/aldermangusblack"
      class="fb-xfbml-parse-ignore"
    >
      <a href="https://www.facebook.com/aldermangusblack">Alderman Gus Black</a>
    </blockquote>
  </div>
</article>
