<h2 class="tagline blue-text text-darken-4 center">
  <i class="starIcons material-icons">star</i>
  Latest News
  <i class="starIcons material-icons">star</i>
</h2>
<br />

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/gus-flag-2025.avif"
        alt="Elect Gus Black Mayor, City of Richland"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Absentee Voting
      </h3>
      <p>
        Absentee voting starts April 21 - May 31, 2025. Vote Gus Black as Mayor for the city of Richland, MS. A mayor for all. 
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/voterRegistration.png"
        alt="Elect Gus Black Mayor, City of Richland"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Voter Registration & Mobilization
      </h3>
      <p>
        A great voter registration and mobilization opportunity for residents of Richland, MS. This opportunity is happening April 12th at 9AM. We hope to see you there!
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/2kwalk.jpg"
        alt="Elect Gus Black Mayor, City of Richland"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Road 2 Unity 2K Walk
      </h3>
      <p>
        Gus Black will be speaking at this event. Join us on a walk for Jesus, April 12th.
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/easterfling.jpg"
        alt="Elect Gus Black Mayor, City of Richland"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Easter Spring Fling
      </h3>
      <p>
        Join in on food, games, music and an Easter egg hunt, April 19th!
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/sign.avif"
        alt="Elect Gus Black Mayor, City of Richland"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Elect Gus Black for Mayor
      </h3>
      <p>
        Elect Gus Black Mayor, City of Richland. Gus is bringing leadership and experience. A mayor for all. Vote for Gus!
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/meetthecandidates.avif"
        alt="Meet the candidates at Richland Community Center April 14, 2025"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Meet the Candidates
      </h3>
      <p>
        Come meet Gus Black and enjoy light refreshments and music at Richland's Community Center, April 14th, 2025. Mayor for all.
      </p>
    </div>
  </div>
</article>

<!-- <article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/easter.avif"
        alt="Breakfast with the Easter Bunny April 5, 2025"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Breakfast with the Easter Bunny
      </h3>
      <p>
        Join us for breakfast with the Easter Bunny, April 5th, at Richland's Community Center! Mayor for all.
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/gusSleepingBag1.avif"
        alt="Gus Gives Sleeping Bags"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Cold Weather Giveaway
      </h3>
      <p>
        Gus providing sleeping bags to support the community this winter season. 
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/gusHwyCleanup2025.jpg"
        alt="Gus Hwy Clean up"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Highway Cleanup Service Day
      </h3>
      <p>
        Gus Black putting in work to keep our community clean this past Highway Cleanup service day! Honk the next time you see him!
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/meetcandidates.jpg"
        alt="Gus for Mayor"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Gus Black For Mayor of Richland
      </h3>
      <p>
        Gus answering questions and sharing his vision at meet the candidates
        event at Richland's community center. Gus Black is committed to the city
        of Richland. Elect Gus for Mayor!
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/toydrive.webp"
        alt="Gus next to Christmas toys"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">Christmas Toy Drive</h3>
      <p>
        Gus Black had a great time collaborating with Canopy Solutions, a
        children's behavioral and mental health provider, to spread some holiday
        cheer by collecting and delivering toys for Santa.
      </p>
    </div>
  </div>
</article>

<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/seniorcenter.webp"
        alt="Gus next to Christmas tree in Chadwick Nursing home"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Thanksgiving at Chadwick Nursing Home
      </h3>
      <p>
        Gus and Brothers of Beta Alpha took time to spread some holiday cheer at
        Chadwick Nursing Home this Thanksgiving. Gus Black assisted with
        decorating the home's Christmas trees and serving Thanksgiving dinner to
        the residents.
      </p>
    </div>
  </div>
</article>
<article class="row center">
  <div>
    <div class="col s12 l4 push-l7 offset-l1 newsImage">
      <img
        class="responsive-img materialboxed"
        src="/img/waterdrive.webp"
        alt="richland exchangeClub"
      />
    </div>
    <div class="col s12 l6 pull-l5 left-align offset-l1">
      <h3 class="newsTitle blue-text text-darken-4">
        Water Drive in Rolling Forks
      </h3>
      <p>
        Gus and members of the Army Corps of Engineers complete a water drive to
        help the Rolling Fork's community after a tornado touched down.
      </p>
    </div>
  </div>
</article> -->

<article class="row center">
  <!-- facebook plugin -->
  <!-- <div id="fb-root"></div>
  <div
    class="fb-page"
    data-href="https://www.facebook.com/aldermangusblack"
    data-tabs="timeline"
    data-width="500"
    data-height="500"
    data-small-header="true"
    data-adapt-container-width="true"
    data-hide-cover="true"
    data-show-facepile="true"
  >
    <blockquote
      cite="https://www.facebook.com/aldermangusblack"
      class="fb-xfbml-parse-ignore"
    >
      <a href="https://www.facebook.com/aldermangusblack">Alderman Gus Black</a>
    </blockquote>
  </div> -->
</article>
