<h2 class="tagline blue-text text-darken-4 center">
  <i class="starIcons material-icons">star</i>
  Platform
  <i class="starIcons material-icons">star</i>
</h2>
<div class="row center">
  <div class="col s12 l6">
    <div class="card">
      <div class="card-image">
        <img src="/img/plants.webp" alt="liberty" />
      </div>
      <div class="card-content">
        <span class="card-title center">Economic Growth</span>
        <p>
          Alderman Gus Black is actively looking to bring in new businesses to
          the economy.
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 l6">
    <div class="card">
      <div class="card-image">
        <img src="/img/childcare.webp" alt="childcare" />
      </div>
      <div class="card-content">
        <span class="card-title center">Child Development</span>
        <p>
          Alderman Gus Black deeply cares about Richland's youth. He is
          committed to improving youth facilities like the Richland Community
          Center.
        </p>
      </div>
    </div>
  </div>
</div>
