<li class="white-text">
  <a href="#about" class="white-text"
    ><i class="material-icons white-text">person</i>About</a
  >
</li>
<li class="white-text">
  <a href="#about-highlights" class="white-text"
    ><i class="material-icons white-text">brightness_high</i>Highlights</a
  >
</li>

<li class="white-text">
  <a href="#platform" class="white-text"
    ><i class="material-icons white-text">remove_red_eye</i>Vision</a
  >
</li>
<li class="white-text">
  <a href="#volunteer" class="white-text"
    ><i class="material-icons white-text">pan_tool</i>Volunteer</a
  >
</li>
<li class="white-text">
  <a href="#donations" class="white-text"
    ><i class="material-icons white-text">monetization_on</i>Donate</a
  >
</li>
<li class="white-text">
  <a href="#news" class="white-text"
    ><i class="material-icons white-text">rss_feed</i>News</a
  >
</li>
