<h2 class="tagline blue-text text-darken-4 center">
  <i class="starIcons material-icons">star</i>
  My Vision
  <i class="starIcons material-icons">star</i>
</h2>
<div class="row center">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/mz82lROLPEw?si=xqI5UGNA_oVK_ni9&amp;start=1"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <h3 class="blue-text text-darken-4 center">
    <em>Bringing Leadership and Experience</em>
  </h3>
  <!-- vision statement -->
  <!-- <section class="col s12 l5 offset-l2"> -->
  <section class="col s12 l12">
    <article>
      <div>
        <p class="statementP1 left-align">
          Gus Black’s vision for Richland prioritizes the safety of its citizens, economic development, and community welfare. By attracting new businesses and supporting local enterprises, Gus aims to strengthen the economic framework of the city, creating job opportunities that benefit all residents. Furthermore, his commitment to investing in community programs will enhance the quality of life for all citizens, ensuring a safe and healthy environment for families.
        </p>
        <p class="statementP1 left-align">
          Richland, a vibrant community rich in history and potential, finds itself at a crossroads, necessitating proactive leadership that inspires hope and fosters unity. As a candidate for mayor, Gus envisions a future where local government serves as a conduit for the voices of the people, ensuring that their aspirations and concerns are not only heard but actively addressed. 
        </p>

        <!-- <p class="statementP1 left-align">
          Growing our city is going to take leadership. I am a proven leader
          having lead more than 100,000 Marines. I know what it takes to be a
          leader. Leadership starts from the top.
        </p>

        <p class="left-align">
          Richland, if you elect me as your Mayor, I will dedicate myself to
          serve in the best interest of our city. I love Richland, and I love
          our country. May God bless you, our city, and our country.
        </p> -->
      </div>
    </article>
  </section>
</div>
<div class="row center">
  <div class="col s12 l5 push-l1">
    <div class="card">
      <div class="card-image">
        <img
          src="/img/police.webp"
          alt="Mississippi State Trooper award ceremony with Gus Black"
        />
      </div>
      <!-- <div class="card-content">
        <span class="card-title center">Community Involvement</span>
        <p class="left-align">
          Alderman Gus Black deeply cares about Richland's youth. He is
          committed to improving youth facilities like the Richland Community
          Center.
        </p>
        <h5 class="blue-text text-darken-4">Parks & Recreation</h5>
        <p class="left-align">
          Opened a new Recreation Center for the community that features after
          school programs and weekend programs for kids.
          <br /><br />
          East side & West side parks have new playground equipment, soccer
          teams for all age groups, and new sports lighting. Currently adding
          new 2-5 year old playgrounds at both parks and upgrading all walking
          trail with brighter LED lighting.
        </p>
        <h5 class="blue-text text-darken-4">
          Community Center & Senior Services
        </h5>
        <p class="left-align">
          New flooring New classes: Strength & stretch class, Nighttime line
          dancing, crochet class, bible study.
          <br /><br />
          Special events: Father/Son Camp out, Cars & Coffee, Trash Bash,
          Re-vamped Halloween Haunted House, Christmas in the Park, Helmets &
          Heels (partnered with RHS Touchdown Club)
        </p>
      </div> -->
    </div>
  </div>
  <div class="col s12 l5 push-l1">
    <div class="card">
      <div class="card-image">
        <img
          src="/img/Richland-Rec-Center-2023-10-02-Source-Jaala-Jones.webp"
          alt="Richland Mississippi East Recreational Park"
        />
      </div>
      <!-- <div class="card-content">
        <span class="card-title center">Richland Economic Growth</span>
        <p class="left-align">
          Alderman Gus Black is actively looking to bring in new businesses to
          the economy.
        </p>
        <h5 class="blue-text text-darken-4">Police Department</h5>
        <p class="left-align">
          No major incidents in our schools. We have increased officer presence
          in schools. Hired more police officers. Increased the police officers
          pay.
        </p>
        <h5 class="blue-text text-darken-4">Building Department</h5>
        <p class="left-align">
          Richland's businesses and expansions (2019)
          <br />
          West Rankin Sanitary Sewer Treatment Plant, Anytime Fitness expansion,
          and KLLM New Medical Clinic
          <br />
          New Churches (2019): Grace Baptist, and Gospel Chapel and CSpire new
          phone service
        </p>
        <h5 class="blue-text text-darken-4">Water Department</h5>
        <p class="left-align">
          New water tower
          <br />
          New water lines (2020) on Old Hwy 49: Walker Circle across the levee,
          Diane Drive, Scarbrough Street, Scarbrough Circle, and Cedar Lane
          <br />
          Sewer rehab and new water meters
        </p>
        <h5 class="blue-text text-darken-4">Fire Department</h5>
        <p class="left-align">
          Added a new Firetruck, and one additional man per shift for better
          protection.
          <br />
          New Equipment: Jaws, thermal camera, two command staff vehicles
          <br />
          paid off 2010 Pierce and Fire Station II early
        </p>
        <h5 class="blue-text text-darken-4">Street Department</h5>
        <p class="left-align">
          Paved roads Fixed and replaced multiple culverts Dug and cleaned out
          the city ditches Maintain streetlights with new LED lighting
        </p>
      </div> -->
    </div>
  </div>
</div>
<!-- <br /><br />
<div class="row center">
  <article>
    <h4 class="blue-text text-darken-4 center">City Accomplishments</h4>
    <div class="col s12 l5 push-l1">
      <h5 class="blue-text text-darken-4">Parks & Recreation</h5>
      <p class="left-align">
        Opened a new Recreation Center for the community that features after
        school programs and weekend programs for kids.
        <br /><br />
        East side & West side parks have new playground equipment, soccer teams
        for all age groups, and new sports lighting. Currently adding new 2-5
        year old playgrounds at both parks and upgrading all walking trail with
        brighter LED lighting.
      </p>
    </div>
    <div class="col s12 l5 push-l1">
      <h5 class="blue-text text-darken-4">
        Community Center & Senior Services
      </h5>
      <p class="left-align">
        New flooring New classes: Strength & stretch class, Nighttime line
        dancing, crochet class, bible study.
        <br /><br />
        Special events: Father/Son Camp out, Cars & Coffee, Trash Bash,
        Re-vamped Halloween Haunted House, Christmas in the Park, Helmets &
        Heels (partnered with RHS Touchdown Club)
      </p>
    </div>
  </article>
</div>
<div class="row center">
  <article>
    <div class="col s12 l5 push-l1">
      <h5 class="blue-text text-darken-4">Police Department</h5>
      <p class="left-align">
        No major incidents in our schools. We have increased officer presence in
        schools. Hired more police officers. Increased the police officers pay.
      </p>
    </div>
    <div class="col s12 l5 push-l1">
      <h5 class="blue-text text-darken-4">Building Department</h5>
      <p class="left-align">
        Paved roads Fixed and replaced multiple culverts Dug and cleaned out the
        city ditches Maintain streetlights with new LED lighting
      </p>
    </div>
  </article>
</div> -->
