<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ios support -->
    <link rel="apple-touch-icon" href="/img/icons/icon96x96.png">
    <meta name="apple-mobile-web-app-status-bar" content="#ffffff">
    <meta name="theme-color" content="#0d47a1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/accomplishments.css">
    <!-- <link rel="stylesheet" href="/css/card.css"> -->
    <title>City Accomplishments</title>
</head>
<body>
    <div class="container center">
        <h3 class="blue-text text-darken-4 center-align">City Accomplishments</h3>
        <article class="row">
        
            <div class="col s12 l4">
                <h5 class="left-align">Community Center & Senior Services</h5>
                <ul class="list">
                    <li class="left-align">New flooring</li>
                    <li class="left-align">New classes: Strength & Stretch Class, Line Dancing, Crochet, Bible study</li>
                    <li class="left-align">Special events: Father/son campout, Trash Bash, Halloween Haunted House, Christmas in the Park, Helmets & Heels, Cars & Coffee</li>
                    <li class="left-align">Two 49 Fests (May & October)</li>
                    <li class="left-align">Father & Daughter Dance (Sponsored by City and Mayor's Youth Council)</li>
                    <li class="left-align">Business 2 Business (partnered with REDA)</li>
                    <li class="left-align">Improvements: New landscaping, installed French drain, striping parking lot</li>
                    <li class="left-align">Two Senior Awards</li>
                    <li class="left-align">Two Special Event Awards</li>
                </ul>
            </div>
            <div class="col s12 l4">
                <h5 class="left-align">Parks & Recreation</h5>
                <ul class="list">
                    <li class="left-align">New Eastside and Westside playground equipment</li>
                    <li class="left-align">Soccer Club (Futball)</li>
                    <li class="left-align">Soccer teams for all age groups</li>
                    <li class="left-align">Increased Soccer and Baseball tournaments</li>
                    <li class="left-align">Improved communication with RHS Athletic Department</li>
                    <li class="left-align">New sports lighting</li>
                    <li class="left-align">New paint machine</li>
                    <li class="left-align">Adding more shade structures at Westside Park playground</li>
                    <li class="left-align">Adding play equipment for 2-5 year olds at both parks</li>
                    <li class="left-align">Upgrading all walking trail lights to LED</li>
                    <li class="left-align">Revamped registration dates and opportunities</li>
                    <li class="left-align">Began offering paint classes</li>
                </ul>
            </div>
            <div class="col s12 l4">
                <h5 class="left-align">Building Department</h5>
                <ul class="list">
                    <!-- <h6 class="left-align">Richland's New Business Expansion 2018</h6> -->
                    <li class="left-align">Vacuum Truck Rental</li>
                    <li class="left-align">Truck Worx (North Richland Industrial Park)</li>
                    <li class="left-align">Griner Drilling Expansion (126 Interstate Dr.)</li>
                    <li class="left-align">Richardson Athletics Expansion (749 Hwy 49 South)</li>
                    <li class="left-align">New Churches: Grace Baptist (Brandon Ave) and Gospel Chapel (Old Ott & Lee)</li>
                    <li class="left-align">Williams Equipment Expansion (635 Hwy 49 South)</li>
                    <li class="left-align">C.A. Hall New Warehouse Build Out (309 Suite A Carrier Blvd)</li>
                    <!-- <li class="left-align">Seimans three major expansion projects</li> -->
                    <!-- <li class="left-align">Packaging Research and Development (Leggett Drive)</li>
                    <li class="left-align">Lineage Logistics Trucking (Industrial Park Drive)</li> -->
                    <li class="left-align">Tower Loan Remodel (Riverwood Shopping Center)</li>
                    <li class="left-align">The Park Devonshire (old Chapel Ridge)</li>
                    <li class="left-align">Three Lions Cross Fit Expansion (Spell Drive)</li>
                    <li class="left-align">Grace Baptist (Brandon Ave) & Gospel Chapel (old Ott & Lee)</li>
                </ul>
            </div>
        </article>

        <article class="row">
            <div class="col s12 l4">
                <h5 class="left-align">Water Department</h5>
                <ul class="list">
                    <li class="left-align">New water tower</li>
                    <li class="left-align">Richland East Circle Water Project</li>
                    <li class="left-align">New water well</li>
                    <li class="left-align">New Water lines(2019) on Walker Circle, Bell Street, and Jones Street</li>
                    <li class="left-align">New Water lines(2020) on Old Hwy 49, Diane Drive, Scarbrough Street, Scarbrough Circle, Cedar Lane</li>
                    <li class="left-align">Sewer rehab</li>
                    <li class="left-align">New water meters</li>
                </ul>
            </div>
            <div class="col s12 l4">
                <h5 class="left-align">Police Department</h5>
                <ul class="list">
                    <!-- <h6 class="left-align">Safe Community</h6> -->
                    <li class="left-align">We have increased officer presence in our schools.</li>
                    <li class="left-align">Officers have access control cards they can protect the three schools from any point of entry</li>
                    <li class="left-align">No major incidents at houses of worship</li>
                    <!-- <li class="left-align">Neighbothoods are safe places to live</li> -->
                    <li class="left-align">Pro-active enforcement discourages drug peddlers from buying or selling in Richland.</li>
                    <li class="left-align">Paid off $4.1 million police station</li>
                </ul>
            </div>
            <div class="col s12 l4">
                <h5 class="left-align">Fire Department</h5>
                <ul class="list">
                    <li class="left-align">New firetruck</li>
                    <li class="left-align">One additional man per shift for better protection</li>
                    <li class="left-align">New equipment: jaws, thermal camera, two command staff vehicle</li>
                    <li class="left-align">Paid off 2010 Pierce and Fire Station II early</li>
                    <li class="left-align">Over 9,577 class hours between fire academt and in-house classes</li>
                </ul>
            </div>
        </article>

        <article class="row">
            <div class="col s12 l4">
                <h5 class="left-align">City Clerk</h5>
                <ul class="list">
                    <li class="left-align">2% Hotel and 3% Restaurant election tax</li>
                    <li class="left-align">Privilege Licenses-Compared and corrected</li>
                    <li class="left-align">Successful audit</li>
                    <li class="left-align">Setup qualifications to obtain modern infrastructure</li>
                    <li class="left-align">No one in jail</li>
                    <li class="left-align">New CSpire phone service</li>
                </ul>
            </div>
            <div class="col s12 l4">
                <h5 class="left-align">Human Resources</h5>
                <ul class="list">
                    <li class="left-align">Co-pay for doctor visits now $25</li>
                    <li class="left-align">Life insurance</li>
                    <li class="left-align">Temp staff</li>
                    <li class="left-align">Updating employee safety manual</li>
                    <li class="left-align">Sexual harassment training</li>
                </ul>
            </div>
            <div class="col s12 l4">
                <h5 class="left-align">Street Department</h5>
                <ul class="list">
                    <li class="left-align">Freshly paved roads</li>
                    <li class="left-align">Fixed and replaced culverts</li>
                    <li class="left-align">Dug and cleaned city ditches</li>
                    <li class="left-align">New LED lighting for streetlights</li>
                </ul>
            </div>
        </article>
          <!-- <a href="/" class="waves-effect waves-teal btn-flat">Return Home</a> -->
          <div class="input-field center">
            <button class="btn red darken-4 center-align"><a class="white-text" href="/">Return Home</a></button>
        </div>
    </div>
</body>
</html>

