<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/card.css">
    <title>Thank You</title>
</head>
<body>
    <div class="container center">
        <div class="row">
            <div class="col s12 m12 l12">
              <div class="card white darken-1">
                <div class="card-content blue-text text-darken-4">
                  <h5 id="thanks" class="card-title">
                    <i class="starIcons material-icons">star</i>
                    Thank You
                    <i class="starIcons material-icons">star</i>
                </h5>
                  <p>Your donation has successfully been submitted!</p>
                </div>
                <div class="card-image paymentImg">
                    <img src="/img/bill.png" alt="flag" class="responsive-img">
                </div>
                <div class="card-action center">
                  <a href="/">Return to Home</a>
                  <!-- <a href="#">This is a link</a> -->
                </div>
              </div>
            </div>
          </div>
    </div>
</body>
</html>