body {
  margin: 0%;
  padding: 0%;
}

.landing {
  max-width: 80%;
  margin: 50px auto;
  font-family: "Playfair Display", serif;
}

.landing img {
  width: 100%;
}

nav {
  position: fixed;
  z-index: 3;
  top: 0;
}

.navlink {
  font-size: 1.2em;
  font-weight: 600;
}

.navlink:hover,
.navlink:active > a {
  border-bottom: solid #0d47a1 2px;
}

.tagline,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}

.starIcons {
  font-size: 2.5rem;
}

.brand-logo {
  font-size: 1.5em;
  font-weight: 550;
  font-style: italic;
  font-family: "Playfair Display", serif;
}

.logo-img {
  margin-top: 9px;
  margin-right: 0;
  border-radius: 25px;
  height: 45px;
  width: 45px;
}

.successImg img {
  width: 300px;
}

#blue a {
  color: #0d47a1;
}

#blue a:hover {
  color: #5785ca;
}

p {
  font-size: 1.2em;
}

.about-para {
  font-size: 1.2em;
  margin-bottom: 15px !important;
}

#about-highlights,
h2,
h3 {
  font-style: normal;
}

.list {
  display: list-item;
  list-style: inside;
}

.item {
  display: list-item !important;
  list-style: inside;
  list-style-type: disc !important;
  font-size: 1.2em;
}

.card-title {
  font-family: "Playfair Display", serif;
  font-weight: 700 !important;
  color: #0d47a1 !important;
}

.modal-content {
  text-align: center;
}

.card {
  margin-top: 25px;
}

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #0d47a1;
}

/* label focus color */
.input-field input:focus + label,
textarea:focus + label,
.input[type="checkbox"] {
  color: #0d47a1 !important;
}

/* label underline focus color */
.row .input-field input:focus,
textarea:focus {
  border-bottom: 1px solid #0d47a1 !important;
  -webkit-box-shadow: 0 1px 0 0 #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important;
}

.btn {
  font-weight: 600;
  margin-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.dono-btn {
  width: 100px;
}

.amt-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.amt-btn {
  /* border: #0d47a1 solid 2px; */
  border: none;
  outline: none;
  margin: 0px 12px;
  text-align: center;
  padding: 0px 25px;
}

#submit {
  margin-top: 12px;
}

.statementP1 {
  padding-bottom: 8px;
}

.error {
  padding-bottom: 20px;
}

.thanks-msg {
  margin: 15px 0px;
}

.card-header {
  background: url(../public/img/dave-sherrill-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.StripeElement {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.StripeElement--focus {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.paymentImg {
  overflow: hidden;
  max-width: 100%;
}

.paymentImg img {
  height: 35%;
  margin-bottom: 0%;
}

.billBox {
  margin-top: 1px;
}

.billBox h5 {
  font-weight: 700;
}

.billCard {
  margin-top: 0%;
}

#billingForm {
  padding-bottom: 1.2rem;
}

#card-button {
  margin: 0%;
}

.slider .indicators .indicator-item.active {
  background-color: #0d47a1 !important;
}

.slider .slides li .caption {
  bottom: 15% !important;
}

#allPhotosBtn {
  margin-top: 0;
}

@media (min-width: 850px) {
  .slides,
  .slider {
    height: 800px !important;
  }

  .slider .indicators {
    bottom: -40px;
  }

  .imgRow {
    max-height: 250px;
    overflow: hidden;
  }
}

@media (max-width: 1153px) {
  #app-title-bar {
    font-size: 20px;
    margin-right: 5px;
  }
  .navlink {
    font-size: 16px;
  }
}

@media (max-width: 1080px) {
  header {
    height: 70vh;
    background-size: contain;
  }
}

@media (max-width: 670px) {
  #app-title-bar {
    font-size: 20px;
  }
  .parallax-container {
    height: 100px;
  }
  .landing {
    margin: 50px auto 0px auto;
  }
  em {
    font-size: 2.4rem;
  }
}

@media (max-width: 400px) {
  #app-title-bar {
    font-size: 15px;
  }
  .tagline,
  h1 {
    font-size: 36px;
  }
  .starIcons {
    font-size: 25px;
  }
  #about-highlights h2 {
    font-size: 36px;
  }
  .slide-shadow {
    text-shadow: 1px 2px 1px #0d47a1;
  }
  #submit {
    font-size: 12px;
    margin-top: 5px;
  }
  header {
    margin-top: 0px;
    background-size: 390px 300px;
  }
  .amt-btn {
    margin: 0px 5px;
    padding: 0px 12px;
  }
}
