<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ios support -->
    <link rel="apple-touch-icon" href="/img/icons/icon96x96.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#ffffff" />
    <meta name="theme-color" content="#0d47a1" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/card.css" />
    <title>Thank You | Volunteer</title>
  </head>
  <body>
    <div class="container center">
      <div class="row">
        <div class="col s12 m8 l6 xl6 offset-m2 offset-l3 offset-xl3">
          <div class="card white darken-1">
            <div class="card-content blue-text text-darken-4">
              <h5 id="thanks" class="card-title">
                <i class="starIcons material-icons">star</i>
                Thank You
                <i class="starIcons material-icons">star</i>
              </h5>
              <p>You've successfully sent a message to the Gus Campaign!</p>
            </div>
            <div class="card-image paymentImg">
              <img src="/img/success.png" alt="flag" class="responsive-img" />
            </div>
            <div id="blue" class="card-action center">
              <a href="/" class="waves-effect waves-teal btn-flat"
                >Return Home</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
